@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
    --color-primary: 217, 89%, 61%; /* Parlak mavi #1c8cfc */
    --color-success: 142 71% 45%; /* Yeşil */
    --color-error: 0 84% 60%; /* Yumuşak kırmızı */
    --color-warning: 38 92% 50%; /* Turuncu */
    --color-info: 217, 89%, 61%; /* Parlak mavi #1c8cfc */
}

.dark {
    --color-primary: 217, 89%, 76%; /* Parlak mavi */
    --color-success: 142 70% 50%; /* Parlak yeşil */
    --color-error: 0 80% 65%; /* Parlak kırmızı */
    --color-warning: 38 90% 60%; /* Parlak turuncu */
    --color-info: 217, 89%, 76%; /* Parlak mavi */
}

@theme {
    --color-skin-primary: hsl(var(--color-primary));
    --color-skin-success: hsl(var(--color-success));
    --color-skin-error: hsl(var(--color-error));
    --color-skin-warning: hsl(var(--color-warning));
    --color-skin-info: hsl(var(--color-info));
}

@theme {
    --color-bg-skin-primary: hsl(var(--color-primary));
    --color-bg-skin-success: hsl(var(--color-success));
    --color-bg-skin-error: hsl(var(--color-error));
    --color-bg-skin-warning: hsl(var(--color-warning));
    --color-bg-skin-info: hsl(var(--color-info));
}

@theme {
    --radius-primary: 30px;
    --radius-secondary: 20px;
    --radius-tertiary: 16px;
}

* {
    box-sizing: border-box;
    outline: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
